# emacs
emacs/.emacs.d/elpa
emacs/.emacs.d/snippets
emacs/.emacs.d/transient
emacs/.emacs.d/smex-items
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/.#projectile-bookmarks.eld
emacs/.emacs.d/.last-package-update-day
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/ido.last
emacs/.emacs.d/.lsp-session-v1
emacs/.emacs.d/eshell

# mpd
mpd/.config/mpd/database
mpd/.config/mpd/log
mpd/.config/mpd/pid
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql

# vim
vim/.vim/autoload
vim/.vim/plugged
